# Ignore raw data
raw_fastq/

# Ignore results
results/

# Ignore logs
logs/

# Ignore QIIME2 artifacts
*.qza
*.qzv

# Ignore compressed files
*.gz
*.zip
*.tar
*.tar.gz

# Ignore conda environments
env/
qiime2-2023.5-py38-linux-conda.yml
